@import url("base.scss");

$brand-blue: #161e69;
$brand-blue-light:#5da7da;
$brand-brown: #736659;
$border-radius-main: 20px;
$border-radius-form: 5px;
$gray-text:#3f3f3f;
$gray-text-darker: #3f3f3f;
$brand-green:#B1D165;

$font-family-serif: 'Lora',serif;
$h1-font-size:1.7em;
$h1-font-size-large:1.7em;
$h2-font-size:1.4em;
$h3-font-size:1.3em;
$h4-font-size:1.25em;

$p-font-size:1.03em;
$p-line-height:1.8em;

$nav-font-size: 1em;
$h2-font-size-related-posts:1.2em;

$individual-border-grad-color:#faa41d;
$green_icon:#bddd6e;
$semi-bold: 600;
$normal-weight: 400;
$brand-blue-light: #5ea7da;
$breadcrumbs-color:#9c7a57;
$sidebar-width:285px;
$breadcrumbs-font-size:1em;
$footer-main-font-size:.9em;
$footer-font-size:.8em;
$extra-padding-bottom:20px;
$box-shadow:0px 4px 10px grey!important;
/* buttons */
$bluebutton-sm-top2-width1:150px;
$bluebutton-sm-top2-width2:150px;
$brand-brown-quotes:#736659;

@mixin button-control($button-control-bg-color,
$button-control-color,
$button-control-border,
$button-control-width,
$button-control-height,
$button-control-padding,
$button-control-margin,
$button-control-font-size,
$button-control-font-weight,
$button-control-float) {
    display: block;
    text-align: center;
    border-radius: $border-radius-main;
    font-size: $button-control-font-size;
    padding: $button-control-padding;
    margin:$button-control-margin;
    background: $button-control-bg-color;
    color: $button-control-color;
    border: $button-control-border;
    width: $button-control-width;
    height: $button-control-height;
    font-weight: $button-control-font-weight;
    position: relative;
    overflow: hidden;
    text-align: center;
    display: inline-block;
    float: $button-control-float;
}

a.brown-button {
    @include button-control(
        #FFF,                           /*      background    */
        $brand-brown,                   /*      color         */
        2px solid #FFFFFF,              /*      border        */
        280px,                          /*      width         */
        40px,                           /*      height        */
        6px 0 0 0,                      /*      padding       */
        0 auto,                         /*      margin        */
        1.3em,                          /*      font-size     */
        400,                            /*      font-weight   */
        none)                           /*      float         */
    font-family: sans-serif;

}

a.brown-button:hover {
    @include button-control(
        $brand-brown,                   /*      background    */
        #FFFFFF,                        /*      color         */
        2px solid #FFFFFF,              /*      border        */
        280px,                          /*      width         */
        40px,                           /*      height        */
        6px 0 0 0,                      /*      padding       */
        0 auto,                         /*      margin        */
        1.3em,                          /*      font-size     */
        400,                            /*      font-weight   */
        none)                           /*      float         */
    font-family: sans-serif;

}

a.blue-button {
    @include button-control(
        #FFF,                           /*      background    */
        $brand-blue-light,              /*      background    */
        2px solid $brand-blue-light,    /*      border        */
        auto,                           /*      width         */
        35px,                           /*      height        */
        0px 0px 35px 0px,               /*      padding       */
        0 0 0 0,                        /*      margin        */
        1.3em,                          /*      font-size     */
        500,                            /*      font-weight   */
        left)                           /*      float         */
}

a.blue-button-2 {
    @include button-control(
        black,                          /*      background    */
        $brand-brown-quotes,            /*      color         */
        2px solid $brand-blue-light,    /*      border        */
        $sidebar-width,                 /*      width         */
        45px,                           /*      height        */
        0px 0px 35px 0px,               /*      padding       */
        0px 0px 15px 0px,               /*      margin        */
        1.3em,                          /*      font-size     */
        500,                            /*      font-weight   */
        left)                           /*      float         */
}

a.blue-button-bigger {
    @include button-control(
        #FFF,                           /*      background    */
        $brand-brown-quotes,            /*      color         */
        2px solid $brand-brown-quotes,  /*      border        */
        auto,                           /*      width         */
        35px,                           /*      height        */
        0px 0px 35px 0px,               /*      padding       */
        0 0 0 0,                        /*      margin        */
        1.3em,                          /*      font-size     */
        500,                            /*      font-weight   */
        left)                           /*      float         */
}

a.bluebutton {
    @include button-control(
        $brand-blue-light!important,    /*      background    */
        #FFF,                           /*      color         */
        none,                           /*      border        */
        240px,                          /*      width         */
        40px,                           /*      height        */
        9px 10px 0 10px,                /*      padding       */
        20px 0,                         /*      margin        */
        1.2em,                          /*      font-size     */
        500,                            /*      font-weight   */
        none)                           /*      float         */
}

a.bluebutton:hover {
    @include button-control(
        #FFF!important,                 /*      background    */
        $brand-blue-light!important,    /*      color         */
        $brand-blue-light 2px solid!important,
        /*      border        */
        240px,                          /*      width         */
        40px,                           /*      height        */
        9px 10px 0 10px,                /*      padding       */
        20px 0,                         /*      margin        */
        1.2em,                          /*      font-size     */
        500,                            /*      font-weight   */
        none)                           /*      float         */
}

.footer-form{
    a.bluebutton:hover {
    @include button-control(
        #FFF!important,                 /*      background    */
        $brand-blue-light!important,    /*      color         */
        none,                           /*      border        */
        240px,                          /*      width         */
        40px,                           /*      height        */
        9px 10px 0 10px,                /*      padding       */
        20px 0,                         /*      margin        */
        1.2em,                          /*      font-size     */
        500,                            /*      font-weight   */
        none)                           /*      float         */
    }

    a.bluebutton-2:hover {
        @include button-control(
        #FFF!important,                 /*      background    */
        $brand-blue-light!important,    /*      color         */
        none,                           /*      border        */
        200px,                          /*      width         */
        35px,                           /*      height        */
        8px 10px 0 10px,                /*      padding       */
        20px 0,                         /*      margin        */
        1em,                            /*      font-size     */
        500,                            /*      font-weight   */
        none)                           /*      float         */
    }
}



a.white-button {
    @include button-control(
        #FFF,                           /*      background    */
        $brand-blue-light,              /*      color         */
        2px solid $brand-blue-light,    /*      border        */
        $sidebar-width,                 /*      width         */
        30px,                           /*      height        */
        6px 0px 35px 0px,               /*      padding       */
        0 0 15px 0,                     /*      margin        */
        1.3em,                          /*      font-size     */
        500,                            /*      font-weight   */
        left)                           /*      float         */
}

a.white-button:hover {
    @include button-control(
        $brand-blue-light,              /*      background    */
        #FFF,              /*      color         */
        2px solid $brand-blue-light,    /*      border        */
        $sidebar-width,                 /*      width         */
        30px,                           /*      height        */
        6px 0px 35px 0px,               /*      padding       */
        0 0 15px 0,                     /*      margin        */
        1.3em,                          /*      font-size     */
        500,                            /*      font-weight   */
        left)                           /*      float         */
}


a.blue-button {
    @include button-control(
        $brand-blue-light,              /*      background    */
        #FFF,                           /*      color         */
        2px solid $brand-blue-light,    /*      border        */
        $sidebar-width,                 /*      width         */
        30px,                           /*      height        */
        6px 0px 35px 0px,               /*      padding       */
        0 0 15px 0,                     /*      margin        */
        1.3em,                          /*      font-size     */
        500,                            /*      font-weight   */
        left)                           /*      float         */
}

a.bluebutton-sm-top1{
    @include button-control(
        $brand-blue-light,              /*      background    */
        #FFF,                           /*      color         */
        1px solid #FFF,                 /*      border        */
        145px,                          /*      width         */
        25px,                           /*      height        */
        3px 10px 0 10px,                /*      padding       */
        0 10px 0 10px,                  /*      margin        */
        .9em,                           /*      font-size     */
        500,                            /*      font-weight   */
        left)                           /*      float         */
}

a.bluebutton-sm-top1:hover,a.bluebutton-sm-top2:hover{
    @include button-control(
        white,                          /*      background    */
        $brand-blue-light,              /*      color         */
        1px solid #FFF,                 /*      border        */
        145px,                          /*      width         */
        25px,                           /*      height        */
        3px 10px 0 10px,                /*      padding       */
        0 10px 0 10px,                  /*      margin        */
        .9em,                           /*      font-size     */
        500,                            /*      font-weight   */
        left)                           /*      float         */
}
a.bluebutton-sm-top2{
    @include button-control(
        $brand-blue-light,              /*      background    */
        #FFF,                           /*      color         */
        1px solid #FFF,                 /*      border        */
        145px,                          /*      width         */
        25px,                           /*      height        */
        3px 10px 0 0,                   /*      padding       */
        0 0 0 10px,                     /*      margin        */
        .9em,                           /*      font-size     */
        500,                            /*      font-weight   */
        right)                          /*      float         */
}
a.bluebutton {
    @include button-control(
        $brand-blue-light!important,    /*      background    */
        #FFF,                           /*      color         */
        none,                           /*      border        */
        240px,                          /*      width         */
        40px,                           /*      height        */
        9px 10px 0 10px,                /*      padding       */
        20px 0,                         /*      margin        */
        1.2em,                          /*      font-size     */
        500,                            /*      font-weight   */
        none)                           /*      float         */
}

a.bluebutton-2 {
        @include button-control(
        $brand-blue-light!important,    /*      background    */
        #FFF,                           /*      color         */
        none,                           /*      border        */
        200px,                          /*      width         */
        35px,                           /*      height        */
        8px 10px 0 10px,                /*      padding       */
        20px 0,                         /*      margin        */
        1em,                            /*      font-size     */
        500,                            /*      font-weight   */
        none)                           /*      float         */
}


a.bluebutton-twitter {
    @include button-control(
        #2096f3,                        /*      background    */
        #FFF,                           /*      color         */
        none,                           /*      border        */
        180px,                          /*      width         */
        40px,                           /*      height        */
        10px 10px,                      /*      padding       */
        20px 20px 20px 0px,             /*      margin        */
        1em,                            /*      font-size     */
        500,                            /*      font-weight   */
        left)                           /*      float         */
        text-transform: uppercase;
        font-weight: normal;
}

a.bluebutton-fb{
    @include button-control(
        #0354a5,                        /*      background    */
        #FFF,                           /*      color         */
        none,                           /*      border        */
        180px,                          /*      width         */
        40px,                           /*      height        */
        10px 10px,                      /*      padding       */
        20px 20px 20px 0px,             /*      margin        */
        1em,                            /*      font-size     */
        500,                            /*      font-weight   */
        left)                           /*      float         */
        text-transform: uppercase;
        font-weight: normal;
}

a.bluebutton-read-more {
    @include button-control(
        #FFF,                           /*      background    */
        #0354a5,                        /*      color         */
        2px solid #FFFFFF,              /*      border        */
        180px,                          /*      width         */
        40px,                           /*      height        */
        5px 10px,                       /*      padding       */
        20px 20px 20px 0px,             /*      margin        */
        1em,                            /*      font-size     */
        500,                            /*      font-weight   */
        left)                           /*      float         */
}

.bluebutton-careers {
    @include button-control(
        #FFF,                           /*      background    */
        #161e69,                        /*      color         */
        2px solid #FFFFFF,              /*      border        */
        280px,                          /*      width         */
        40px,                           /*      height        */
        15px,                           /*      padding       */
        20px 20px 20px 0px,             /*      margin        */
        1em,                            /*      font-size     */
        400,                            /*      font-weight   */
        left)                           /*      float         */
}


a.whitebutton {
    @include button-control(
        #5da7da,                        /*      background    */
        #FFF,                           /*      color         */
        2px solid #FFFFFF,              /*      border        */
        280px,                          /*      width         */
        40px,                           /*      height        */
        15px,                           /*      padding       */
        20px 20px 20px 0px,             /*      margin        */
        1em,                            /*      font-size     */
        400,                            /*      font-weight   */
        left)                           /*      float         */
}
@mixin circle_images($bg_img) {
    background-image: url($bg_img);
    background-position: center;
    background-size: cover;
    border: 4px solid white;
    box-shadow: $box-shadow;
}

@mixin blog_main($bg_img) {
    background-image: url($bg_img);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 250px;
}

@mixin circle_images_extended($circle_images_height) {
    margin: 0 auto;
    height: $circle_images_height;
    width: $circle_images_height;
    border: none;
    box-shadow: none!important;
    border-radius: 50%;
}

input,
select,
input::placeholder,
option::placeholder,
textarea::placeholder{color:$gray-text!important;}

div.button-wrapper {
    float: right;
    width: 285px;
    padding-bottom: 40px
}

blockquote {
    border-right: none!important
}

.center {
    text-align: center;
    margin: 0 auto;
}

.caps {
    text-transform: uppercase;
}

.left {
    float: left;
}

.right {
    float: right;
}

.headermenu {
    line-height: 13px;
    padding-top: 6px;
}

.blue-brand {
    color: $brand-blue
}

a.bluebutton-fb i,
a.bluebutton-twitter i {
    padding-right: 15px;
}

p {
    line-height: $p-line-height
}

.mobile-button-top {
    float: left;
    margin: 10px 0 0 220px!important;
}

.home-header-text {
    color: #FFFFFF;
    position: absolute!important;
    bottom: -360px;
}

div.extra-padding-bottom {
    padding-bottom: 50px
}

div.default-living-indiv-bg1,
.default-living-indiv-bg2,
.default-living-indiv-bg3 {
    margin: 0 auto;
}

div.default-living-indiv-bg1 {
    float: left;
    margin-left: 15px
}

div.default-living-indiv-bg1 {
    margin-left: 15px
}

div.default-living-indiv-bg3 {
    float: right;
}

.living-text,
.joyfully-text {
    color: #FFF;
    margin-top: 220px!important;
}

.joyfully-text {
    font-family: 'Sacramento', cursive;
    font-size: 3em
}

.living-text {
    font-family: 'Dosis', sans-serif;
    font-size: 1.7em;
}

.navbar-default {
    height: 70px;
}

.fpo-img {
    width: 100%;
}

.left {
    text-align: left;
}

.clear {
    clear: both!important;
}

#tabletmenu {
    background: $brand-brown;
}

.footertitle {
    text-align: left;
}

.topmenu {
    background: $brand-brown;
    padding: 5px;
}

.navbar-default .navbar-nav>li>a {
    color: $brand-blue;
    font-size: $nav-font-size;
}

div.container-fluid.footerbottom {
    background: #e5e3e0;
    box-shadow: $box-shadow;
    margin-top: 40px!important;
    div.container {
        div.row {
            div.col-md-8.col-md-offset-2 {
                p {
                    font-size: $footer-font-size;
                    font-family: $font-family-serif;
                }
            }
            div.col-md-2 {
                img.accessibility-icon {
                    text-align: left;
                    float: left;
                    margin-left: -170px;
                }
            }
        }
    }
}

div.footerfluid {
    background: #FFF;
    div.menu-footer1-container {
        padding: 40px 40px 40px 55px;
    }
    p.main-footertitle strong {
        color: $brand-blue;
        font-size: $footer-font-size;
        text-transform: uppercase;
        font-family: $font-family-serif;
        border: none;
        text-decoration: none;
        padding-bottom: 0px!important;
        font-weight: 700!important;
    }
    p {
        padding: 0px;
        margin-bottom: 6px;
    }
}

ul.footermenu {
    font-family: $font-family-serif;
    a {
        color: $gray-text;
        font-size: $footer-main-font-size;
    }
    li {
        margin-bottom: 3px;
    }
}

div.footer-form.form-group {

    background: #b1d165!important;
    padding: 15px 15px 10px 15px;
    -webkit-border-radius: $border-radius-form;
    -moz-border-radius: $border-radius-form;
    border-radius: $border-radius-form;
    float: right!important;

    input,
    select,
    textarea {
        margin-top: 10px;
        -webkit-border-radius: $border-radius-form;
        -moz-border-radius: $border-radius-form;
        border-radius: $border-radius-form;
        border: none;
        padding: 5px;
    }
    textarea {
        height: 60px
    }
    form {
        div.row {
            div.col-md-12 {
                p.footer-form-title {
                    color: #003366!important;
                    font-size: 1.6em!important;
                    text-align: center!important;
                    padding: 0px;
                    margin: 0px;
                    font-family: sans-serif!important;
                    font-weight: $semi-bold;
                }
            }
        }
        div.row {
            div.col-md-6.footer-form-size-right {
                padding: 0px 0 0px 15px;
                margin: 0px;
                input.form-control {
                    width: 100%;
                }
            }
            div.col-md-6.footer-form-size-left {
                padding: 0px 15px 0px 3px;
                margin-right: 0px;
                input.form-control {
                    width: 100%
                }
            }
        }
        div.row {
            div.col-md-12.footer-form-size-center {
                select {}
            }
        }
        div.center {
            a.bluebutton {
                margin: 10px 0 0 0;
            }
            a.bluebutton-2 {
                margin: 12px 15px 0px 15px!important;
            }
        }
    }
}

p.phone-footer {
    font-weight: $semi-bold;
    font-size: 1.4em;
    padding: 24px 0!important;
    display: block;
    a {
        color: $brand-blue;
    }
}

div.footer-logo {
    margin-top: -2em;
}

div.phone-footer a {
    font-size: $p-font-size;
    color: $brand-blue;
}

.bluebutton-2 {
    margin: 0px!important;
}

div.homehero {
    background: url('../../../assets/images/hero1_home.jpg');
    background-size: cover;
    position: relative;

    div.home-hero-wrapper {
        div.header-form {
            form {
                position: absolute;
                background: rgba(255, 255, 255, 0.7);
                background-image: url("../../../assets/images/top-homepage-form-graphic.png");
                background-position: top!important;
                background-repeat: no-repeat;
                padding: 10px 0 0 0!important;
                -webkit-border-radius: $border-radius-main;
                -moz-border-radius: 5px;
                border-radius: 5px;
                right: 0px;
                top: 100px;
                width: $sidebar-width;
                div.row {
                    div.header-search-box {
                        h3 {
                            font-size: 1.6em;
                            font-weight: 600;
                            color: $brand-blue
                        }
                        p {
                            font-size: 1.2em;
                            font-weight: 500;
                            color: $brand-blue;
                            line-height: 25px
                        }
                    }
                }
                div.row {
                    div.col-md-12 {
                        select {
                            option {}
                        }
                        a.bluebutton {}
                    }
                }
            }
        }
    }
}

div.form-size-main {
    margin: 20px;
}


div.footer-form-width {
    width: 330px;
    float: right;
    padding: 20px 20px 5px 20px!important;
    margin: 0px;
}

div.headerform {
    position: absolute;
}

div.divider-graphic {
    background: url(../../../assets/images/divider-graphic.jpg)!important;
    background-color: #716457!important;
    background-repeat: no-repeat!important;
    background-attachment: fixed!important;
    background-position: 0px 0px!important;
    height: 120px;
    background-size: 100% 100%!important;
}

.header-search {
    background: white;
    p {
        color: $brand-blue;
        font-size: 1.3em;
        padding-bottom: 10px;
    }
    h3 {
        color: $brand-blue;
        font-size: 1.5em;
        font-weight: 400;
        font-weight: bold;
    }
}

div.home-section-1 {
    margin: 40px 0px;
    p {
        font-weight: $normal-weight;
        color: $gray-text;
        font-family: $font-family-serif;
        font-size: $p-font-size;
        line-height: $p-line-height;
        margin-right: 40px
    }
    h3 {
        font-family: $font-family-serif;
        color: $brand-blue;
    }
    h2 {
        color: $brand-blue;
        font-weight: 400;
        border-right: #5da7da 2px solid;
    }
    div.home-section-1 h2>strong {
        font-weight: 500
    }
}

.circles-home {
    padding: 20px
}

div.home-section-2-container {
    background: url(../../../assets/images/home-circle-bg.jpg)!important;
    padding: 30px;
    background-repeat: repeat-x!important;
    background-attachment: fixed!important;
    background-position: 0px 0px!important;
    background-size: cover;


    p {
        text-align: center;
        font-weight: $semi-bold;
        color: $brand-brown;
        font-size: $h4-font-size;
    }
    h4 {
        text-align: center;
        font-size: 1.9em;
        color: $brand-blue;
    }
}

div.home-section-2-extra-padding {
    p {
        padding-top: 100px
    }
}

.redefining {
    color: $brand-blue;
    text-transform: uppercase;
    font-weight: 500;
}

.home-section-2 {
    padding: 0 100px;
}

div.home-section-3 {
    background-color: #FFF9F1;
    h4,
    h5,
    p {
        margin: 10px 40px 0 40px;
    }
    h4 {
        font-size: 1.7em;
        padding-top: 30px;
        color: $brand-blue;
    }
    h5 {
        font-size: 1.3em;
        color: $brand-blue;
    }
    p {
        font-family: $font-family-serif;
        font-size: $p-font-size;
        color: $gray-text;
    }
}

div.home-section-4 {
    margin: 0 auto;
    padding: 0px;
}

div.home-map {
    background: url('../../../assets/images/map-fpo.jpg') center no-repeat;
    height: 400px;
}

div.home4 .active,
div.menu-fluid-green {
    background-color: $brand-green;
}

div.nav-tabs {
    border: none;
    text-align: center;
    background-color: #e8d0b8;
    padding: 0px;
    line-height: 4em;
    a {
        color: $brand-blue;
        font-size: 1.4em;
    }
}


div.tab-content {
    margin: 40px;
    div.resident-testimonials {
        text-align: center;
        h3 {
            font-size: 1.5em;
            color: $brand-blue;
        }
        p {
            color: $gray-text;
            font-size: $p-font-size;
            font-family: $font-family-serif;
            padding-bottom: 20px;
        }

        div.row {
            div.col-md-4 {
                div.home-circle-7 {
                    @include circle_images('../../../assets/images/home-circle-3.jpg');
                    @include circle_images_extended(135px);
                }
                div.home-circle-8 {
                    @include circle_images('../../../assets/images/home-circle-4.jpg');
                    @include circle_images_extended(135px);
                }
                div.home-circle-9 {
                    @include circle_images('../../../assets/images/home-circle-5.jpg');
                    @include circle_images_extended(135px);
                }
                h3 {}
                p {}
            }
        }
        div.tab-pane {
            h3 {}
            p {}
        }
    }
}


div.tabs-border {
    border-right: 4px solid white;
}


div.col-md-4.circles-home {
    margin: -10px;
    padding: 0px
}

div.event-archive-circles,
div.individual-community-circle-tabs,
div.individual-community-circle-tabs-shadow {
    width: 200px;
    height: 200px;
    border: 3px solid #FFF;
    border-radius: 100%;
    background-size: cover!important;
    margin-top: 20px;
}

.active-triangle-down {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: $brand-green transparent transparent transparent;
}

div.individual-section-1 {
    margin: 0 40px;
    p,
    h2,
    h3 {
        text-align: left!important
    }
    p {
        line-height: $p-line-height;
        font-size: $p-font-size;
        font-family: $font-family-serif;
        color: $gray-text-darker;
    }
    img {
        float: left;
        margin-right: 20px
    }
    hr {
        padding: 0px;
        margin: 0px;
        border-color: #ca955f;
    }
    h2 {
        color: $brand-blue;
        font-weight: $semi-bold;
        padding: 0px;
        margin-top: 0px;
    }
    h3 {
        color: $gray-text;
    }
}

nav.franciscan-breadcrumbs {
    margin-left: 15px;
    font-family: $font-family-serif;
    font-weight: normal;
    ol.breadcrumb {
        background-color: #FFF;
        font-size: $breadcrumbs-font-size;
        padding: 15px 15px 0px 0px;
        margin-bottom: 10px!important;
        li.breadcrumb-item {
            i.fas.fa-angle-right {}
        }
        li>a {
            color: $breadcrumbs-color
        }
        li.active a {
            color: $brand-blue
        }
        li::before {
            content: ">"
        }
        li:first-child::before {
            content: ""
        }
    }
}

hr.header-hr {
    padding: 0px;
    margin: 0px;
    border-color: #ca955f;
}

div.individual-section-2 {
    padding: 20px;
    margin: 40px;
    h1 {
        color: $brand-blue;
    }
    h2 {
        color: $brand-blue;
        margin-bottom: 20px;
        font-weight: $semi-bold;
    }
    p {
        line-height: $p-line-height;
        color: #gray-text-darker;
        margin: 20px;
        font-family: $font-family-serif;
        font-size: $p-font-size;
    }
}

div.individual-section-2-wrapper {
    padding-top: 40px;
    hr {
        border: 0;
        height: 1px;
        background: #333;
        background-image: linear-gradient(to right, #FFF, #faa41d, #FFF);
    }
    div.individual-section-2 {
        margin: 0 auto;
        h2 {
            font-size: $h1-font-size
        }
        p {}
        a {
            margin-bottom: 0px;
        }
    }
}

img.time-clock {
    padding-bottom: 5px
}

div.wrapper-center {
    margin: 0 auto!important;
}

div.individual-page-search {
    border-radius: 12px;
}






/* Responsive */

div.padding-20 {
    margin: 20px 0;
    padding-left: 90px;
}

div.blog-content-individual h4 {
    color: $brand-blue!important;
    padding: 20px 0;
    font-weight: $semi-bold;
}

img.blog-img-individual {
    padding-bottom: 30px
}

div.related-posts-blog {
    background-color: #FFF9F1;
    padding: 60px;
}

div.related-posts-blog-bg {
    padding: 40px;
}

div.related-posts-blog-inverse {
    background-color: #5ea7da;
    color: #FFFFFF;
    margin: 0 0 20px 0px;
    h1 {
        font-size: $h1-font-size;
        padding: 0px;
        margin: 0px;
        margin-top: 20px;
        font-weight: normal;
        text-transform: uppercase;
    }
    h2 {
        margin: 20px 0;
        font-weight: normal;
        font-weight: $semi-bold;
        font-size: $h2-font-size;
        padding-top: 10px;
        margin: 0px;
    }
    p {
        font-size: $p-font-size;
        font-family: $font-family-serif;
    }
}

div.related-posts-blog-bg {
    background: #FFF9F1
}


h1.related-posts-blog-header {
    font-size: $h1-font-size
}

div.related-posts-blog-wb {
    margin: 0 0 20px 0px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 24px;
    border-radius: 12px;
    min-height: 400px;
    background-color: #FFFFFF;

    h1 {
        padding: 0px;
        margin: 0px;
        color: $brand-blue;
        font-size: 1.5em;
    }

    h2 {
        font-size: $h2-font-size;
        padding-top: 10px;
        margin: 0px;
        padding-top: 10px;
        margin: 0px;
        color: $brand-blue;
        font-size: 1.2em;
    }
    p {
        font-size: $p-font-size;
        font-family: $font-family-serif;
    }
}


div.related-posts-blog-inverse {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 24px;
    border-radius: 12px;
    min-height: 400px;
}

h1.related-posts-blog-header {
    font-size: $h1-font-size;
    padding-bottom: 20px;
    color: #726658;
}

img.related-posts-img {
    border-top-left-radius: 12px 12px;
    border-top-right-radius: 12px 12px;
    width: 100%;
}

div.related-posts-inner-wrapper {
    padding: 20px;
}

div.search-container {
    background-color: #e7e5e6;
    border-radius: 12px;
    height: 40px;
    line-height: 35px;
    i {
        padding: 0px 10px 0px 10px;
    }
    input {
        background-color: transparent;
        border: none;
    }
    button {
        background-color: #5EA7DA;
        color: #FFFFFF;
        float: right;
        border-top-right-radius: 12px 12px;
        border-bottom-right-radius: 12px 12px;
    }
}

ul.individual-blog-sidebar-list {
    font-family: $font-family-serif;
    font-size: $p-font-size;
    list-style-type: none;
    margin-bottom: 30px;
    padding: 10px 0;
    li {
        line-height: 2.8em;
        border-bottom: 1px solid $brand-blue;
        color: $brand-blue
    }
    li>a {
        color: $brand-blue
    }
    li:last-child {
        border: none;
    }
    i {
        float: right;
        padding-top: 20px
    }
}

div.blog-main {
    h2 {
        color: $brand-blue;
        font-family: $font-family-serif;
    }
    p {
        font-size: $p-font-size;
        font-family: $font-family-serif;
    }
}


.blog-main1,
.blog-main2,
.blog-main3 {
    margin-top: 40px
}

.blog-main1 h1,
.blog-main2 h1,
.blog-main3 h1 {
    margin-top: 180px;
    color: white;
    font-weight: normal;
    font-size: $p-font-size;
    text-align: center;
}

div.blog-main1 {
    @include blog_main('http://fpoimg.com/300x100');
}

div.blog-main2 {
    @include blog_main('http://fpoimg.com/300x100');
}

div.blog-main3 {
    @include blog_main('http://fpoimg.com/300x100');
}





/* Animation Buttons */

div.circles-home {
    div.ch-info {
        cursor: pointer;
        position: absolute;
        background: rgba(112, 175, 217, 0.8);
        width: inherit;
        height: inherit;
        border-radius: 50%;
        overflow: hidden;
        opacity: 0;
        transition: all 0.4s ease-in-out;
        transform: scale(0);

        h3 {
            color: #fff;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 22px;
            margin: 0 30px;
            padding: 85px 0 0 0;
            height: 140px;
            font-family: 'Open Sans', Arial, sans-serif;
            text-shadow: 0 0 1px #fff,
            0 1px 2px rgba(0, 0, 0, 0.3);
            a {
                color: #FFF;
            }
        }
    }

    ul.ch-grid:after,
    ul.ch-item:before {
        content: '';
        display: table;
    }

    ul.ch-grid:after {
        clear: both;
    }

    .ch-item:hover .ch-info {
        transform: scale(1);
        opacity: 1;
    }

    ul.ch-grid {
        margin: 20px 0 0 0;
        padding: 0;
        list-style: none;
        display: block;
        text-align: center;
        width: 100%;

        div.ch-item {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            overflow: hidden;
            position: relative;
            cursor: default;
            transition: all 0.4s ease-in-out;
        }

        div.ch-item:hover {
            box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1),
            0 1px 2px rgba(0, 0, 0, 0.1);
            cursor: pointer;
        }

        li {
            width: 220px;
            height: 220px;
            display: inline-block;
            margin: 20px;

            div.ch-img-1 {
                @include circle_images('../../../assets/images/home-circle-1.jpg');
            }
            div.ch-img-2 {
                @include circle_images('../../../assets/images/home-circle-2.jpg');
            }

            div.ch-img-3 {
                @include circle_images('../../../assets/images/home-circle-3.jpg');
            }

            div.ch-img-4 {
                @include circle_images('../../../assets/images/home-circle-4.jpg');
            }

            div.ch-img-5 {
                @include circle_images('../../../assets/images/home-circle-5.jpg');
            }

            div.ch-img-6 {
                @include circle_images('../../../assets/images/home-circle-6.jpg');
            }
        }
    }
}


.circles-home p>a {
    color: $brand-brown!important;
}

.circles-home p {
    margin-top: -10px!important;
}

div.individual-community-left2 {
    h1 {
        font-family: $font-family-serif;
        color: $brand-blue;
        font-size: $h1-font-size;
        margin: 0px;
        padding: 10px 0 15px 0px;
    }
    p {
        font-family: $font-family-serif;
        font-size: $p-font-size;
        color: $gray-text;
        margin: 0px;
        padding: 10px 0 20px 0px;
    }
}

div.individual-community-right2{
    position: relative!important;
    h1 {
        padding: 20px 40px;
        font-weight: normal;
        font-size: $h1-font-size;
    }
    p {
        padding: 0px 40px 0px 40px;
        font-size: $p-font-size;
    }
}

div.individual-community-right2:before,
div.individual-community-right2:after {
    content: "";
    position: absolute;
    border-radius: 15px;
}

div.individual-community-right2:before {
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    background-image: -webkit-gradient(radial, left top, 0, 90% 0%, 0, from($individual-border-grad-color), to(transparent));
    background-image: -webkit-radial-gradient(left top, 500px 800px, $individual-border-grad-color, transparent);
    background-image: -moz-radial-gradient(left top, farthest-corner, $individual-border-grad-color 0%, transparent 72%);
    z-index: -2;
}

.individual-community-right2:after {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #FFF;
    z-index: -1;
}

div.green-icons p {
    line-height: 1.8em
}

div.green-icons p>i {
    color: $green_icon;
    font-size:$p-font-size;
    margin: 0 10px 0 10px;
    display: inline-block;
}

div.green-icons>ul {
    padding: 0px;
}

div.green-icons li {
    list-style-type: none;
}

div.individual-community-right2-stamp {
    float: left;

    p {
        padding: 20px 0 20px 20px;
        font-size: 2em;
        color: $brand-blue;
        line-height: 32px;
    }

    p>strong {
        font-weight: $semi-bold
    }

    img {
        width: 100px;
        padding: 20px 0 20px 0;
    }

    a {
        color: green
    }
}

span.individual-community-address-align {
    display: inline-block;
    margin-left: 40px
}

div.individual-community-circle1 {
    @include circle_images('../../../assets/images/individual-community-circle1.jpg');
}

div.individual-community-circle2 {
    @include circle_images('../../../assets/images/individual-community-circle2.jpg');
}

div.individual-community-circle3 {
    @include circle_images('../../../assets/images/individual-community-circle3.jpg');
}

div.individual-community-circle4 {
    @include circle_images('../../../assets/images/individual-community-circle4.jpg');
}

div.individual-community-circle5 {
    @include circle_images('../../../assets/images/individual-community-circle5.jpg');
}

.individual-community-circle6 {
    @include circle_images('../../../assets/images/individual-community-circle6.jpg');
}

div.individual-community-circle-tabs {
    @include circle_images('../../../assets/images/individual-community-circle6.jpg');
}

div.individual-community-btm-menu h3 {
    font-size: $h1-font-size;
    color: $brand-blue;
    padding-bottom: 20px;
}

div.individual-community-btm-menu p {
    font-size: $p-font-size;
    font-family: $font-family-serif;
    color: $gray-text;
}

p.individual-community-learn-more {
    margin-top: 60px;
    text-transform: uppercase;
}

p.individual-community-learn-more>a {
    font-family: sans-serif;
}

span.bump-address-icon {
    margin-left: 30px;
}

div.indivual-com-hero-wrapper {
    position: relative;
    height: 400px;
    background-image: url('../../../assets/images/homeherobg2-inverse.png');
    width: 480px;
    padding: 200px 40px 0 40px;
    text-align: center;
}

div.indivual-com-hero-wrapper h1 {
    position: absolute!important;
    bottom: 20px;
    color: #FFFFFF;
    font-weight: normal;
    font-size: 2.8em!important;
    text-shadow: 0 2px 2px #000;
}


div.header-form-communities {
    position: absolute;
    background: rgba(255, 255, 255, 0.7);
    background-image: url("../../../assets/images/top-homepage-form-graphic.png");
    background-position: top!important;
    background-repeat: no-repeat;
    padding: 15px;
    -webkit-border-radius: $border-radius-main;
    -moz-border-radius: 5px;
    border-radius: 5px;
    right: 0px;
    top: 50px;

    select,
    input {
        margin: 0 0 5px 0px;
    }
    textarea {
        height: 60px;
    }
    form {
        div.row {
            div.col-md-12 {
                p.footer-form-title {
                    font-size: 1.7em;
                    font-weight: $semi-bold;
                    text-align: center;
                    color: $brand-blue;
                }
            }
        }
        div.center {
            .bluebutton {
                margin: 10px 0px 0px 0px;
            }
        }
        div.row {
            div.col-md-6.footer-form-size-right {
                padding: 0 5px 0 5px;
                input {
                    width: 100%!important
                }
            }
            div.col-md-6.footer-form-size-left {
                padding: 0px 5px 0 0px;
                input {
                    width: 100%!important
                }
            }
            .footer-form-size-below {
                padding: 0px 5px 0 5px!important;
            }
        }
    }
}

div.individual-community-gallery-hero {
    background: url('../../../assets/images/individual-gallery.jpg');
    height: 500px;
    position: relative;
    .white-button{
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%,-50%);
        background: #FFF;
    }
    .white-button:hover{
        color: #FFFFFF;
        background-color: $brand-blue-light;
    }
}

div.individual-community-gallery-map {
    background: url('../../../assets/images/community_archive_map.jpg');
    height: 500px
}

.form-width {
    width: $sidebar-width;
}

div.list-of-services li {
    list-style-type: disc;
    padding: 0px!important;
}

div.list-of-services ul {
    padding: 0px 0px 0px 20px!important;
    margin: 0px 0px 0px 0px;
}

div.community-archive h1,
div.community-archive h2 {
    font-size: 1.6em;
    font-weight: $semi-bold;
}

div.community-archive {
    ul {
        list-style: none;
        padding: 0;
    }
    li {
        padding-left: 1.3em;
    }
    li.directions-com-archive:before {
        font-family: Font Awesome\ 5 Free;
        content: "\f095";
        display: inline-block;
        font-weight: $semi-bold;
        transform: rotateY(180deg);
        padding-right: 20px;
        vertical-align: middle;
        margin-left: -35px;
        margin-right: 10px;
        color: $brand-blue;
    }
    li.phone-com-archive:before {
        font-family: Font Awesome\ 5 Free;
        content: "\f3c5";
        display: inline-block;
        font-weight: $semi-bold;
        transform: rotateY(180deg);
        padding-right: 20px;
        vertical-align: middle;
        margin-left: -35px;
        margin-right: 10px;
        color: $brand-blue;
    }
    div.community-archive h1,
    div.community-archive h2 {
        font-size: 1.6em;
        font-weight: $semi-bold;
    }
    div.community-archive-extra-padding {
        padding-top: 20px
    }
}

div.individual-community-circle-tabs-shadow {
    @include circle_images('../../../assets/images/individual-community-circle1.jpg');
}

div.community-archive {
    padding: 20px 0px;
}

div.community-footer-shadow {
    background-image: url('../../../assets/images/community-footer-shadow.jpg');
    background-repeat: repeat-x;
    height: 50px;
}

div.event-archive-circles {
    @include circle_images('../../../assets/images/individual-community-circle1.jpg');
    margin: 0px;
}

h1.event-archive-content-h1 {
    color: $brand-blue;
    font-size: $h1-font-size;
    margin-left: 0px;
    margin-bottom:0px;
    margin-top: 10px
}
.navfluid {
    height: 77px
}

div.event-archive-content {
    div.row {
        div.col-md-2.content {
            div.event-archive-circles {
                margin: 20px 20px 0 -5px;
                box-shadow: none!important;
            }
        }
    }
    div.col-md-10.content {
        h1 {
            color: $brand-blue;
            padding: 0px 65px!important;
            font-size: $h2-font-size;
            font-weight: 500;
        }
        h2 {
            color: $gray-text;
            padding: 0 65px!important;
            font-size: $h4-font-size;
            font-weight: 400;
            margin: 10px 0;
        }
        p {
            padding: 0 65px!important;
        }
        a {
            float: left;
            width: 150px;
            margin-left: 65px
        }
    }
}


div.row.individual-location-container2 {
    div.col-md-4 {
        blockquote {
            line-height: $p-line-height;
            padding: 0px 0px;
            margin: 40px -20px;
            font-family: $font-family-serif;
            border-right: 1px solid #FFF!important;
        }
        blockquote.no-border {
            border-right: none;
        }
        p {
            font-family: $font-family-serif;
            font-weight: normal;
            font-size: 1.3em;
            text-align: left;
            padding: 0 40px 40px 50px;
        }
        h2 {
            font-size: 1.1em;
            text-align: right;
            font-weight: normal;
            padding: 0 40px 40px 40px;
        }
        h2::before {
            content: "-";
        }
    }
}

div.row.individual-location-container2 div.col-md-4 blockquote.first p {
    padding-left: 0px
}

div.event-archive-content {
    padding: 0 0 30px 0;
}

div.sidebar-nav {
    width: $sidebar-width;
    float: right;
    -webkit-border-radius: $border-radius-form;
    -moz-border-radius: $border-radius-form;
    border-radius: $border-radius-form;
    border: 1px solid $brand-blue-light;
    background-color: #FFF;
    margin-bottom: 20px;
    ul {
        padding: 0px;
        li {
            position: relative;
            color: $brand-blue;
            list-style-type: none;
            border-bottom: 1px solid $brand-blue-light;
            a {
                color: $brand-blue;
                font-weight: 500;
                font-size: 1.15em;
                background: white;
                display: block!important;
                padding: 10px 10px 10px 25px;
            }
            a:hover {
                color: #FFFFFF;
                background-color: $brand-blue-light
            }
            div.triangle-side-menu {
                width: 0;
                height: 0;
                border-top: 20px solid transparent;
                border-bottom: 20px solid transparent;
                border-left: 15px solid white;
                position: absolute;
                left: 0px;
                top: 0px;
            }
        }
        li:last-child {
            border: none;
        }
        li.active-sidebar-nav {
            background: $brand-blue-light;
        }
        li.active-sidebar-nav a {
            background: $brand-blue-light;
            color: #FFFFFF
        }


        li {
            &:hover {
                background: $brand-blue-light;
                &:before {
                    -webkit-transition: 0.5s all ease;
                    transition: 0.5s all ease;
                    left: 0;
                    right: 0;
                    opacity: 1;
                }
            }
        }
    }
}

div.default-living-indiv-bg1{
    background-image: url(../../../assets/images/Default-Living-Options-pic1.jpg);
}
div.default-living-indiv-bg2{
    background-image: url(../../../assets/images/Default-Living-Options-pic2.jpg);
}
div.default-living-indiv-bg3{
    background-image: url(../../../assets/images/Default-Living-Options-pic3.jpg);
}

div.default-living-indiv-bg1,
div.default-living-indiv-bg2,
div.default-living-indiv-bg3 {
    background-repeat: no-repeat;
    min-height: 280px;
    display: table;
    padding: 20px;
    background-size: cover;
    border-radius: $border-radius-main;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;

    div.default-living-container {
        display: table-cell;
        vertical-align: middle;
        h1 {
            text-align: center;
            color: #FFF;
            font-size: $h3-font-size;
        }
        p {
            color: #FFF;
            text-align: center;
        }
    }
}

div.individual-location-container {
    background-color: #7F7774;
    font-family: $font-family-serif;
    blockquote {
        color: white;
        border-left: none;
        border-right: 1px solid white;
        font-size: .9em;
    }
    p {
        color: white;
        font-size: 1.2em;
        font-weight: normal;
        text-align: right;
    }
}

img.gallery-fpo {
    width: 100%;
    padding-bottom: 40px;
    margin-left: -66px;
    padding-bottom: 40px
}

div.form-group-individual-location-sub {
    width: 400px;
    margin: 0 auto;
    input {
        margin-bottom: 5px;
        color: $gray-text;
        margin-bottom: 10px;
        width: 100%!important;
    }
    select {
        margin-bottom: 10px;
        color: $gray-text;
        width: 100%!important;
    }
}

div.form-group.form-group-individual-location-sub {
    form {
        div.row {
            div.col-md-6,
            div.col-md-12,
            div.col-md-3 {
                padding: 0 5px 0 0;
            }
        }
    }
}

.navbar-default .navbar-nav>li>a {
    font-size: 1.22em;
}

.navbar-default .navbar-nav>li>a {
    padding: 25px 21px;
    color: $brand-blue;
}

.community-archive-main>h2 {
    color: $brand-blue;
}

div.individual-section-1 {
    div.row {
        div {
            h2 {
                font-size: $h1-font-size-large;
                font-weight: 500;
                padding-top: 5px;
            }
            h3 {
                font-size: $h4-font-size;
                padding: 0 0 10px 0px;
                margin-top: 0px;
            }
            p {
                img.img-responsive {}
            }
        }
        div.padding-20 {}
    }
}

@media(min-width:1381px) {
    .homehero {
        background: url('../../../assets/images/hero1_home.jpg');
        background-position: 0px -80px;
    }
}
    #header-form-main-mobile {
        display: none;
    }

@media(max-width: 1200px) {
    .mainlogo {
        position: absolute;
        bottom: -25px;
        left: 10px;
    }
    div.event-archive-circles,
    div.home-circle-7,
    div.home-circle-8,
    div.home-circle-9,
    div.individual-community-circle-tabs,
    div.individual-community-circle-tabs-shadow {
        margin: 0 auto;
    }

    div.event-archive-content {
        div.row {
            div.col-md-2.content {
                div.event-archive-circles {
                    margin: 20px 20px 0 0;
                    box-shadow: none!important;
                }
            }
        }
        div.col-md-10.content {
            h1 {
                color: $brand-blue;
                padding: 0px 15px!important;
                font-size: $h2-font-size;
                font-weight: 500;
            }
            h2 {
                color: $gray-text;
                padding: 0 15px!important;
                font-size: $h4-font-size;
                font-weight: 400;
                margin: 10px 0;
            }
            p {
                padding: 0 15px!important;
            }
            a {
                float: left;
                width: 150px;
                margin-left: 15px
            }
        }
    }
    a.blue-button-bigger {
        margin: 10px 0!important;
    }
    div.col-md-4.center {
        padding: 0px!important
    }
    div.event-archive-content div.row div.col-md-2.content div.event-archive-circles {
        margin: 0 auto;
    }
    #header-form-main {
        display: none;
    }
    #header-form-main-mobile {
        display: block;
    }
    .hero-text-img {
        display: none;
    }
    a.white-button,
    a.blue-button,
    div.sidebar-nav,
    a.blue-button-bigger {
        margin: 0 auto;
        width: 100%;
        margin: 0 0 10px 0;
    }
    div.footer-wrapper {
        div.col-md-4 {
            p {
                img.footer-logo {}
            }
            p {
                a {}
            }
        }
        div.footer-padding {
            p.main-footertitle {
                strong {}
            }
            div.menu-footer1-container {
                ul.footermenu {
                    li.menu-item {
                        a {}
                    }
                }
            }
        }
        div.col-md-4 {
            p.main-footertitle {
                strong {}
            }


            div.menu-footer1-container ul.footermenu {
                li.menu-item {
                    a {}
                }
            }
        }
    }





    div.form-group-individual-location-sub {
        width: 100%;
        padding: 20px;
    }
    .footer-form.form-group {
        width: 100%;
        float: none;
    }
    .footer-form.form-group input {
        margin: 0 auto;
        width: 100%
    }


    div.footer-form-size-center {
        padding: 0px;
        margin: 0 10px;
    }
    div.footer-form-size-center select {
        margin: 0px;
        width: 100%;
    }
    .footer-form {
        margin: 0px!important;
    }
    .footer-form input {
        margin: 0 auto;
        padding: 5px;
        width: 100%;
    }
    div.indivual-com-hero-wrapper {
        display: none;
    }
    a.bluebutton-careers {
        margin: 0 auto!important
    }


    div.home-section-1 {
        margin: 0px;
        padding: 0px;
    }
    .container.community-archive-main {
        margin: 0 auto;
        text-align: center;
    }

    .list-of-services li {
        list-style-type: none!important
    }
    .header-form-communities {
        display: none;
    }
    div.individual-community-right2-stamp {
        text-align: center!important;
        float: none!important
    }
    div.tabs-border {
        border: none;
    }
    div.col-md-4.center {
        padding: 20px;
    }
    div.search-container {
        width: 100%
    }
    .footer-form {
        width: 100%
    }

    div.default-living-indiv-bg1,
    .default-living-indiv-bg2,
    .default-living-indiv-bg3 {
        margin: 40px auto;
    }

    div.default-living-indiv-bg1 {
        float: none;
    }

    div.default-living-indiv-bg3 {
        float: none;
    }

    .living-text,
    .joyfully-text {
        color: $brand-blue;
        text-align: center;
    }

    .joyfully-text {
        font-family: 'Sacramento', cursive;
        font-size: 3em
    }

    .home-header-text-mobile {
        color: $brand-blue!important;
        display: block;
        position: relative;
        margin: 0 auto;
        text-align: center;
    }
    .home-header-text {
        display: none;
    }

    div.event-archive-circles {
        margin: 0px;
    }
    div.footerfluid {
        padding-top: 10px
    }

    div.footerfluid p {
        text-align: center;
        padding-top: 10px;
    }
    a.bluebutton-sm-top1,
    a.bluebutton-sm-top2 {
        margin: 12px 10px 0 10px!important;
        float: left!important;
    }
    form {
        div.row {
            .footer-form-size-right,
            .footer-form-size-left {
                padding: 0px!important;
                margin: 10px 10px 0 10px!important;
            }
        }
    }
    div.footer-form-width {
        float: none;
        margin: 0 auto!important;
    }
    div.footerfluid div.menu-footer1-container {
        padding: 0px!important;
    }
    p.phone-footer {
        padding: 0px!important;
    }
    blockquote.first {
        padding: 0 40px 40px 50px!important
    }
    .button-wrapper {
        float: none;
        margin-top: 20px;
    }
    div.footer-form-width {
        width: 100%;
        padding: 0px!important;
    }
    div.row.individual-location-container2 div.col-md-4 h2{
        float: none;
        text-align: center;
    }
    div.footer-margin-mobile{margin-bottom: 60px}
    div.button-wrapper{
        float:none!important;
        text-align:center;
        clear:both!important;
        padding-top: 15px
    }
    div.container-fluid.footerbottom div.container div.row div.col-md-2 img.accessibility-icon{
        float: none;
        display: block;
        margin: 0 auto!important;
        padding-top: 5px;
        clear: both;
    }
}

@media(max-width: 1100px) {
    img.accessibility-icon {
        float: none;
        display: block;
        margin: 0 auto;
        padding: 20px;
        clear: both;
    }
}